.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

html
{ background-image: url('./Deauville-Inn-scaled.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
  display: flex;
  justify-content: center;
  background-attachment: fixed;
   
}

* {
    padding: 0px;
    margin: 0px
}

body {
    
  background: rgba(29, 114, 29, 0.3);
    display: grid;
    place-items: center;
    
    height: 100vh;
}

#root {
  background: transparent;
}

.card {
    background-color: #977777;
    border-radius: 10px;
    color: #6f707d;
    font-family: 'Marcellus', serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}



#heading {
    font-size: 55px;
    color: #2b304d
}

form input[name="city"],
form input[name="country"]{
  font-size: 2rem;
    background-color: white;
  border: 0;
  border: 1px solid white;
  border-radius: 0;
}




